/* #333333 #4C1B33 #EFE672 #98A942 #2D6960 */

body {
    color: #CCCCCC;
    background: #161616
}

img {
    max-width: 100%;
}

.container {
    max-width: 768px;
}

.lead {
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.3em;
    text-align: justify;
}

.sig {
    max-width: 124px;
}

@media (max-width: 768px) {
    .lead {
        font-size: 1.5rem;
        text-align: initial;
    }
}